#root footer {background-color: #f4f2ee !important;
  color: #00000099 !important; 
  }
  #root footer p {font-size: 70%;
    }
  #dropdown-basic {color: #00000099 !important; }

.app {
  text-align: center;
}

nav {
  height: 4.5rem;
}

.dropdown-toggle{
  padding: 0 0.5em !important;
}

small,
.dropdown-toggle{
  font-weight: 300 !important;
}

.img-fit{
  object-fit: cover !important;
  max-height: inherit;
  max-width: inherit;
}

.border-dashed {
  border-style: dashed;
}


.extra-small {
  font-size: 12px !important;
}

.grey {
  color: #8A8A8A !important;
}