#root footer {
  background-color: #f4f2ee !important;
  color: #00000099 !important;
}
#root footer p {
  font-size: 70%;
}
#dropdown-basic {
  color: #00000099 !important;
}

.app {
  text-align: center;
}

nav {
  height: 4.5rem;
}

.dropdown-toggle {
  padding: 0 0.5em !important;
}

small,
.dropdown-toggle {
  font-weight: 300 !important;
}
