#root footer {
  background-color: #f4f2ee !important;
  color: #00000099 !important;
}
#root footer p {
  font-size: 70%;
}
#dropdown-basic {
  color: #00000099 !important;
}

.app {
  text-align: center;
}

nav {
  height: 4.5rem;
}

.dropdown-toggle {
  padding: 0 0.5em !important;
}

small,
.dropdown-toggle {
  font-weight: 300 !important;
}

.img-fit {
  object-fit: cover !important;
  max-height: inherit;
  max-width: inherit;
}

.border-dashed {
  border-style: dashed;
}

.extra-small {
  font-size: 12px !important;
}

.grey {
  color: #8a8a8a !important;
}


.bottoni {
  width: 100%;
}

.button-list { 
  display: flex;
  flex-wrap: wrap;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .bottoni{
    width: 150px;
    height: 80px;
     
    } 
}


/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
 



}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
 

 

  
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  
}

@media (min-width: 1400px) { 

}